@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html{
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
}

.purple {
    color: #6415ff;
}

#landing{
    padding: 32px;
}

/* Navagation Bar*/

.nav__container{
    display: flex;
    width: 100%;
    padding: 0px 40px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.nav__logo{
    display: flex;
    align-items:start;
    margin: 8px 0px;
}

.logo{
    width: 40px;
    height: 40px;
}

.nav__logo--title{
    font-size: 24px;
    font-weight: 900;
    margin: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
    color: rgb(36, 62, 99);
    text-align: center;
}

.nav__links{
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    text-decoration: none;
}

.nav__link{
    font-size: 16px;
    font-weight: 600;
    padding: 26px;
    letter-spacing: 0.35px;
    position: relative;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: rgb(36, 62, 99)
}

.nav__link:hover{
    text-decoration: underline;
    color: #6415ff;
    transition: all 400ms ease;
}


.nav__link--button {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    background: #6415ff;
    border-radius: 99999px;
    color: #fff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 400ms ease;
}

.nav__link--button:hover{
    color: rgb(36, 62, 99)

}

.nav__link--login{
    margin-left: 48px;
}

/* Landing Page */

.header__container{
    padding:40px;
    display: flex;
}

.header__discription{
    width: 40%;
  
}

.header__img{
    width: 100%;
    height: 100%;
    max-height: 80vh;
}

.blob__svg{
    width: 430px;
    opacity: 10%;
    display: flex;
    z-index: 1;
    transform: translate(-280px, -150px);
    position:relative
}

.header__customers{
    width: 300px;
    height: 26px;
    margin-top: 16px;
    opacity: 0.5;
}

.header__customers--wrapper{
    display: flex;
    align-items: center;
}

h1{
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h2{
    margin-top: 80px;
    color: #a0aec0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.header__discription--para{
    margin:32px 0px;
    font-size: 20px;
    line-height: 1.50;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #243e63;
}

.header__email{
    width: 100%;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input{
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position:absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.header__email--btn{
    position: relative;
    z-index: 2;
    margin: 8px;
    height: calc(100%-16px);
    border-radius: 500px;
    width: 160px;
    height: 50px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}